<h1>CSS Playground</h1>

<ul>
  <li>
    <%= link_to "January", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "February", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "March", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "April", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "May", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "June", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "July", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "August", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "September", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "October", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "November", "/foo", class: "fancy-link" %>
  </li>
  <li>
    <%= link_to "December", "/foo", class: "fancy-link" %>
  </li>
</ul>